@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrong-answer {
  animation: shake 0.5s ease-in-out;
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.flying-score {
  position: absolute;
  bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
  opacity: 0;
  animation: fly-up 1s ease-out forwards;
}
